.header {
    background-color: #FFF;
    padding: 96px 0 77px;
}

.header__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: #212429;
    margin: 0;
}

.logo {
    position: absolute;
    top: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ACB5BD;
}

.icon__sun {
    margin-right: 12px;
}

.icon__moon {
    margin-left: 15px;
}

.menu {
    display: inline-flex;
    align-items: center;

}