.modal__button_open {
position: absolute;
top: 230px;
left: 100px; 
}

.modal__button_close {
position: absolute;
right: 15px;
top: 15px;
}

.modal__cover {
position: absolute;
width: 100%;
height: 100%;
background: var(--grey-c4);
opacity: 0.5;
}

.modal__card {
position: absolute;
width: 25%;
height: 35%;
left: 25%;
top: 10%;
background: var(--white);
border-radius: 8px;
padding: 30px 40px 33px 40px;
}

.modal__text {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: var(--grey-4);
}

.modal {
display: none;
}