.tooltip {
display: inline-block;
position: relative;
}

.tooltip__trigger {
cursor: pointer; 
}

.tooltip__bubble {
position: absolute;
padding: 11px 21px 10px 21px;
bottom: calc(100% + 12px);
left: 50%;
transform: translateX(-50%);
background: var(--blue-5);
box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
border-radius: 10px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: var(--grey-2);
white-space: nowrap;
display: none;
}

.tooltip__bubble::before{
content: "";
width: 0;
height: 0;
border: 12px solid transparent;
border-top: 10px solid var(--blue-5);
position: absolute;
top: 100%;
left: 32%;
transform: translateX(50%);
}

.tooltip__trigger:hover ~ .tooltip__bubble {
display: block;
} 