.toggler__input{
    position: absolute;
    clip: rect(0,0,0,0);
}
    
.toggler__state{
    display: inline-flex;
    gap: 12px;
    align-items: center;
    cursor: pointer;
}
    
.toggler__control{
    box-sizing: border-box;
    position: relative;
    width: 52px;
    height: 28px;
    border: 1px solid var(--grey-2);
    border-radius: 16px;
}
    
.toggler__slider{
    display: block;
    background-color: var(--grey-2);
    width: 24px;
    height: 24px;
    border-radius: 100%;
    position: absolute;
    left: 1px;
    top: 1px;
}

.toggler__input:checked ~ .toggler__state  .toggler__control {
    background-color: var(--blue-5);
}
        
.toggler__input:checked ~ .toggler__state  .toggler__slider {
    background-color: var(--white);
    position: absolute;
    left: 25px;
}
        
.toggler__input:focus ~ .toggler__state  .toggler__title {
    text-decoration: underline;
} 
        
.toggler__input:disabled ~ .toggler__state  .toggler__control{
    background: var(--grey-2);
    pointer-events: none;
}
        
.toggler__input:disabled ~ .toggler__state  .toggler__slider {
    background-color: var(--grey-3);
}

.toggler__icon_sun {
    margin-right: 13px;
}

.toggler__icon_moon {
    margin-left: 15px;
}
