@import '../fonts/fonts.css';
@import '../../components/normalize.css';
@import '../../03-lection1/01-button/button.css';
@import '../../components/second-page/header/header.css';
@import '../../components/second-page/footer/footer.css';
@import '../../components/second-page/preview/preview.css';
@import '../../components/second-page/menu/menu.css';
@import '../../components/second-page/page/page.css';
@import '../../components/second-page/container/contaner.css';
@import '../../components/second-page/tooltip/tooltip.css';
@import '../../components/second-page/switcher/switcher.css';
@import '../../components/second-page/toggler/toggler.css';
@import '../../components/second-page/logo/logo.css';

:root {
    --white: #ffffff;
    --white-2: #212429;
    --black: #212429;
    --black-2: #000000;
    --pink: #F784AD;
    --purple: #7048E8;
    --purple-2: #5028C6;
    --purple-3: #a0b1f53f;
    --blue: #374FC7;
    --blue-1: #4263EB;
    --blue-2: #2342C0;
    --blue-3: #334D6E;
    --blue-4: #90A0B7;
    --blue-5: #4263EB;
    --red: #F03D3E;
    --red-1: #D84910;
    --grey: #F9FAFC;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-c4: rgba(196, 196, 196, 0.502);

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

:root[data-theme-dark] {
  --white: #212429;
  --white-2: #ffffff;
  --black: #F9FAFC;
  --black-2: #000000;
  --pink: #F784AD;
  --purple: #7048E8;
  --purple-2: #5028C6;
  --purple-3: #a0b1f53f;
  --blue: #374FC7;
  --blue-2: #2342C0;
  --blue-3: #ACB5BD;
  --blue-4: #90A0B7;
  --blue-5: #4263EB;
  --red: #F03D3E;
  --grey: #495057;
  --grey-1: #F8F9FA;
  --grey-2: #DDE2E5;
  --grey-3: #ffffff;
  --grey-4: #F9FAFC;
  --grey-c4: #495057;

  --error: var(--red);
  --success: var(--blue);

  --primary: var(--blue);
  --secondary: var(--purple);
}

* {
    font-family: 'Roboto', sans-serif;
}


html, body {
  height: 100%;
}
