.skeleton {
width: 579px;
height: 192px;
left: 537px;
top: 819px;
background: #FFFFFF;
border: 1px solid #ACB5BD;
box-sizing: border-box;
border-radius: 8px;
}

.skeleton__top{

}

.skeleton__avatar{
width: 64px;
height: 64px;
left: 561px;
top: 843px;
background: #DDE2E5;
border-radius: 64px;
}

.skeleton__bottom{

}

.skeleton__line, .skeleton__line_short, .skeleton__line_middle{
height: 20px;
background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

.skeleton__line_short{

}


.skeleton__line_middle{
    
}

