.calendar {
    box-sizing: border-box;
    height: 215px;
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 10px 16px 20px 16px;
    }
    
    .calendar__wrapper {
    padding-bottom: 100%;
    position: relative;
    }
    
    .calendar__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    }
    
    .calendar__item {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 25px;
    text-align: center;
    align-self: center;
    color: var(--blue-3);
    }
    
    .calendar__item_day {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 30px;
    color: var(--blue-4);
    }
     
    .calendar__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: var(--blue-3); 
    padding-bottom: 10px;
    }
    
    .calendar__item_highlight {
    background: var(--purple-3);
    }
    
    .calendar__item_highlight_ending {
    background: var(--blue-5);
    color: var(--white);
    }