@media screen and (min-width: 400px) and (max-width: 768px) {
    body {
        background-image: url(public/forest_400.jpg);
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        background-image: url(public/forest_768.jpg);
    }
}

@media screen and (min-width: 1024px) and (max-width: 2560px) {
    body {
        background-image: url(public/forest_1024.jpg);
    }
}

@media screen and (min-width: 2560px) {
    body {
        background-image: url(public/forest_2560.jpg);
    }
}