.input__field {
box-sizing: border-box;
background: var(--white);
border: 1px solid var(--grey-2);
border-radius: 8px;
padding: 15px 114px 15px 24px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
color: var(--grey-4);
}

.input__field_invalid {
border: 1px solid var(--red);
box-shadow: 0px 1px 1px rgba(240, 61, 62, 0.1);
border-radius: 8px;
}
 
.input__field:focus {
outline: none;
border: 1px solid var(--blue-1);
box-shadow: 0px 1px 1px rgba(51, 154, 240, 0.1);
}

.input__field::-webkit-input-placeholder {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
color: var(--grey-2);
}

.input__field_success::-webkit-input-placeholder {
color: var(--grey-4);
}

.input__field_invalid::-webkit-input-placeholder {
color: var(--grey-4);
}

.input__icon {
position: relative;
right: 48px;
top: 18px;
}

.input {
display: flex;
}